<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="co/layout">
<head>
<title>ログイン</title>
</head>
<body>
<div id="layout">
	<div id="content_body" >
		<div id="content">
			<!-- メインコンテンツ設定欄 -->
			<div align="center" layout:fragment="content">
				<!--/* メッセージ */-->
				<div class="message_board">
					<a href="#">メッセージ編集</a>
					<div class="message" style="overflow:auto;">
						<table>
							<tr th:each="msg : ${messageList}">
								<td class="mdate">${f:h(msg.messageDate) }</td>
								<td class="mtext">${f:br(f:h(msg.content)) }</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>