<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="co/layout">
<head>
<title>ログイン</title>
</head>
<body>
<div id="layout">
	<div id="content_body" >
		<div id="content">
			<!-- メインコンテンツ設定欄 -->
			<div align="center" layout:fragment="content">
				<div style="padding-top: 100px;">
					<form role="form" action="#" th:action="@{/COA000/login}" method="post" id="login-form" autocomplete="off">
						<div>アカウント</div>
						<div>
							<input type="text" name="account" id="account" style="width:200px;" placeholder="アカウントを入力" />
						</div>
						<div>パスワード</div>
						<div>
							<input type="password" name="password" id="password" style="width:200px;" placeholder="パスワードを入力" />
						</div>
						<div style="text-align:center; margin-top:20px;">
							<input type="submit" name="login" value="ログイン"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>