<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT" />
<meta http-equiv="robots" content="noindex,nofollow" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="content-style-type" content="text/css"/>
<title th:text="${T(jp.co.kunisys.member.common.Constants).SYSTEM_NAME}">title</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.11.4.custom.min.css}"/>
<script type="text/javascript" th:src="@{/js/jquery-2.2.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui-1.11.4.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ui.datepicker-ja.js}"></script>
<script type="text/javascript" th:src="@{/js/members.js}"></script>
<!-- 戻るボタン無効 -->
<script type="text/javascript">
window.onunload = function(){};
history.forward();
$(function(){
	<!--/* パスワード変更ダイアログ設定 */-->
	$("#password_change").dialog({
		autoOpen: false,
		show: "explode",
		hide: "explode",
		title: "パスワード変更",
		modal: true,
		width: 650,
		close: function(event) {
		}
	});
	<!--/* 権限により非表示になったメニューの親メニューを隠す */-->
	$("#header_menu_main li").not(':has(.menuItem)').each(function(){
		$(this).css({display: "none"});
	});

	<!--/* パスワード変更リンククリック時イベント */-->
	$("#ChangePassword").click(function(){
		clearPassword();
		$('#password_change').dialog('open');
	});
	<!--/* パスワード更新ボタン押下時イベント設定 */-->
	$("#BtnPasswordChange").click(changePassword);
	<!--/* パスワード更新処理 */-->
	function changePassword() {
		if (!checkPassword()) return;
		// サーバ要求
		var params = {};
		params['oldPassword'] = $("#OldPassword").val();
		params['newPassword'] = $("#NewPassword").val();
		params['newRePassword'] = $("#NewRePassword").val();
		MJSAJAX.exec({
			url:"updatePassword", cache:false, dataType:"json", data:params,
			success: function(data) {
				if (data.result == 'success') {
					alert('パスワードを変更しました。');
					clearPassword();
					$('#password_change').dialog('close');
				} else {
					if (data.resultReason == 'oldPassword') {
						$("#OldPassword").addClass('errorField');
					}
					alert(data.result);
				}
			}
		});
	}
	<!--/* パスワードチェック */-->
	function checkPassword() {
		$("#OldPassword").removeClass('errorField');
		$("#NewPassword").removeClass('errorField');
		$("#NewRePassword").removeClass('errorField');

		if (!$("#OldPassword").val() || $("#OldPassword").val().length == 0) {
			$("#OldPassword").addClass('errorField');
			alert('現在のパスワードが入力されていません。');
			return false;
		}
		if (!$("#NewPassword").val() || $("#NewPassword").val().length == 0) {
			$("#NewPassword").addClass('errorField');
			alert('新パスワードが入力されていません。');
			return false;
		}
		if (!$("#NewRePassword").val() || $("#NewRePassword").val().length == 0) {
			$("#NewRePassword").addClass('errorField');
			alert('新パスワード(再入力)が入力されていません。');
			return false;
		}
		if ($("#NewPassword").val() != $("#NewRePassword").val()) {
			$("#NewPassword").addClass('errorField');
			$("#NewRePassword").addClass('errorField');
			alert('パスワードが一致しません。');
			return false;
		}

		return true;
	}
	<!--/* パスワードクリア */-->
	function clearPassword() {
		$("#OldPassword").removeClass('errorField');
		$("#NewPassword").removeClass('errorField');
		$("#NewRePassword").removeClass('errorField');
		$("#OldPassword").val('');
		$("#NewPassword").val('');
		$("#NewRePassword").val('');
	}
});
</script>
</head>
<body>
<div id="layout">
	<div id="header">
		<!--/* ログイン情報 */-->
		<div id="header_logo">
			<span style="color: white; font-size: x-large; margin: 5px 5px;" th:text="${T(jp.co.kunisys.member.common.Constants).SYSTEM_NAME}"></span>
			<span style="color: white; font-size: 12px;" th:text="${T(jp.co.kunisys.member.common.Constants).APPLICATION_VERSION}"></span>
			<span style="color: white; float: right;">
				<br/>
				<span sec:authorize="isAuthenticated()">
					ログイン：
					<a href="#" class="login">
						<span th:text="${#authentication.principal.username}"></span>
					</a>
					<a href="#" id="ChangePassword" class="login" style="margin-left:20px;">パスワード変更</a>
					<a href="logout" th:href="@{/COB000/logout}" class="login"  style="margin-left:10px;">ログアウト</a>
				</span>
				<span sec:authorize="!isAuthenticated()">
					未ログイン
				</span>
			</span>
		</div>
		<!--/* パスワード変更ダイアログ */-->
		<div id="password_change" style="background-color: palegreen; margin-top: 15px; display: none;">
			<table>
				<tr><td>現在のパスワード</td><td><input type="text" id="OldPassword"/></td></tr>
				<tr><td>新パスワード</td><td><input type="text" id="NewPassword"/></td></tr>
				<tr><td>新パスワード(再入力)</td><td><input type="text" id="NewRePassword"/></td></tr>
				<tr><td></td><td><input type="button" id="BtnPasswordChange" value="パスワード変更" /></td></tr>
			</table>
		</div>
		<!--/* グローバルナビゲーション */-->
		<div id="header_menu" sec:authorize="isAuthenticated()">
			<ul id="header_menu_main">
				<li><a href="#" style="text-decoration: none;" class="menuItem">社員情報一覧</a></li>
				<li><a href="#" style="text-decoration: none;" class="menuItem">社員個人情報検索</a></li>
				<li>
					<a href="#">業務分析</a>
					<ul>
						<li><a href="#" class="menuItem">プロジェクト情報管理</a></li>
						<li><a href="#" class="menuItem">業務分析</a></li>
						<li><a href="#" class="menuItem">業務分析(月別)</a></li>
						<li><a href="#" class="menuItem">稼働分析(月別)</a></li>
					</ul>
				</li>
				<li>
					<a href="#">資産管理</a>
					<ul>
						<li><a href="#" class="menuItem">資産分類管理</a></li>
						<li>
							<a href="#">資産管理</a>
							<ul>
								<li><a href="#" class="menuItem">サーバアクセス権限管理</a></li>
								<li><a href="#" class="menuItem">ハードウェア管理</a></li>
								<li><a href="#" class="menuItem">ソフトウェア管理</a></li>
								<li><a href="#" class="menuItem">入出庫管理</a></li>
								<li><a href="#" class="menuItem">資産管理</a></li>
								<li><a href="#" class="menuItem">ＩＰアドレス管理</a></li>
								<li><a href="#" class="menuItem">仮想マシン管理</a></li>
								<li><a href="#" class="menuItem">システム管理</a></li>
							</ul>
						</li>
						<li><a href="#" class="menuItem">リスクアセスメント管理</a></li>
					</ul>
				</li>
				<li>
					<a href="#">システムメンテナンス</a>
					<ul>
						<li><a href="#" class="menuItem">スキルメンテナンス</a></li>
						<li><a href="#" class="menuItem" th:href="@{/MTA020/init}">権限情報メンテナンス</a></li>
						<li><a href="#" class="menuItem" th:href="@{/MTA010/init}">権限割当</a></li>
						<li><a href="#" class="menuItem">部署メンテナンス</a></li>
						<li><a href="#" class="menuItem">職位メンテナンス</a></li>
						<li><a href="#" class="menuItem" th:href="@{/MTE010/init}">勤務先メンテナンス</a></li>
						<li><a href="#" class="menuItem" th:href="@{/MTF010/init}">区分メンテナンス</a></li>
						<li><a href="#" class="menuItem">学校メンテナンス</a></li>
						<li><a href="#" class="menuItem">連携ユーザメンテナンス</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!--/* パンくずリスト */-->
		<div id="header_breadcrumb_trails">
		  <th:block th:each="rec,status : ${trails}">
			<a href="#" th:href="@{${rec.action}}">
				<span style="vertical-align: middle; color: white;" th:text="${rec.name}"/>
			</a>
			<span style="vertical-align:middle; color:white;"> &gt; </span>
		  </th:block>
			<span style="vertical-align: middle; color: white;" th:text="${viewName}"/>
		</div>
	</div>
	<div id="content_body" >
		<div id="content">
			<!-- メインコンテンツ設定欄 -->
			<div align="center" layout:fragment="content">
			</div>
		</div>
	</div>
	<div id="footer">
		<!-- <tiles:insert page="footer.jsp" /> -->
	</div>
	<div class="ingicator"><img th:src="@{/images/guruguru1.gif}"/></div>
</div>
</body>
</html>